// fontawesome
@import "~font-awesome/scss/font-awesome.scss";

// Variables
@import 'variables';

// Bootstrap
// @import '~bootstrap/scss/bootstrap';


// themes
@import 'themes/light';
@import 'themes/dark';
@import 'themes/blue';
@import 'themes/girly';

// components
@import 'components/button';
@import 'components/card';
@import 'components/dropdown';

.section {
    @apply .px-4;
}

body,
button {
    @apply .text-default;
}

body {
    height: 98vh;
}

button:hover {
    cursor:pointer;
}

input[type=checkbox]:hover {
    cursor:pointer;
}

.textwrapper {
    width: 100%;
    margin:5px 0;
  padding:3px;
}

@tailwind base;

@tailwind components;

@tailwind utilities;
