.theme-blue {
    --page-background-color: #1e1f26;
    --card-background-color: #4d648d;
    --button-background-color: #d0e1f9;
    --header-background-color: #283655;
    --text-color: black;
    --text-error-color: red;
    --text-default-color: white;
}
