.theme-girly {
    --page-background-color: #98dbc6;
    --card-background-color: #fffde6;
    --button-background-color: #f18d9e;
    --header-background-color: #5bc8ac;
    --text-color: white;
    --text-error-color: red;
}
